.service-box-container {
  margin-top: 3em;

  .service-box {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    .tag {
      border: 1px solid #fff;
      padding: 0.5em 0.8em;
      color: #fff;
      font-size: 0.9em;
      margin-right: 1em;
    }
  }
}

.services-title {
  padding: 0.5em 1.5em;
  font-size: 3em;
  margin-bottom: 0;
}
