.wrapper-section-box {
  flex-basis: 47%;
  @media (max-width: 1150px) {
    flex-basis: 100%;
    margin-top: 10em;
  }
}
.img-zoom-container {
  padding: 3em;

  min-height: 500px;
  @media (max-width: 760px) {
    min-height: 300px;
    padding: 0;
    text-align: center;
    margin-bottom: 5em;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover .section-box {
    transform: scale(1.1);
  }
  button {
    margin-top: 1em;
    position: relative;
    z-index: 2;
    align-self: flex-start;
    border-color: white;
    @media (max-width: 760px) {
      align-self: center;
      transform: scale(0.9);
    }
  }

  h2 {
    width: 75%;
    line-height: 130%;
    z-index: 2;
    position: relative;
    align-self: flex-start;
    font-weight: normal;
    font-size: 2em;
    color: white;
    @media (max-width: 760px) {
      align-self: center;
      width: 100%;
      font-size: 1.3em;
    }
  }
}
.section-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 5em;
  transition: transform 2s ease-in-out;
  z-index: -1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.service-box-container {
  @media (max-width: 760px) {
    display: none;
  }
  margin-top: 3em;

  .tags {
    display: flex;
    flex-wrap: wrap;
    .tag {
      border: 1px solid #fff;
      padding: 0.5em 0.8em;
      color: #fff;
      font-size: 0.9em;
      margin-right: 1em;
    }
  }
}

.services-title {
  padding: 0.5em 1.5em;
  font-size: 3em;
  margin-bottom: 0;
}
