.works {
  background-color: #151515;
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 40px 40px 120px;

  @media (max-width: 1000px) {
    padding: 40px 40px 40px 0;
  }
  font-family: primary-reg;

  .row,
  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7em;
  }

  .row {
    opacity: 0;

    justify-content: space-between;
  }

  .categories {
    margin: 4em 0;

    justify-content: center;
    button {
      transform: translateX(-1000px);
      opacity: 0;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 0.8em 1.2em;
      margin-right: 2em;
      color: #fff;
      font-weight: bold;
      transition: color 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        color: #151515;
      }
    }
  }
}
