.latest-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5em;
  width: 100%;
}
.cockpit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  button {
    align-self: center;
  }
}

.latest-news-title {
  font-size: 2em;
}
