.project-page {
  margin-left: 6em;
  padding-bottom: 3em;
  background: #000;
}

.titles {
  margin-left: 6em;
  padding: 0em 6em;
  height: 80vh;
  background-color: #000;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;

  p {
    flex: 1;
  }
  h1 {
    font-size: 3.5em;
    flex: 3;
  }
}
