.work {
  opacity: 0;
  @media (max-width: 869px) {
    opacity: 1;
    margin-left: 0;
  }
  position: relative;
  z-index: 2;
  margin-left: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(48, 48, 48, 1) 45%,
    rgba(21, 21, 21, 1) 100%
  );
  color: white;

  a {
    color: black;
  }
  .hero {
    position: relative;

    width: 100%;
    height: 100vh;
    padding: 3em 5em;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    color: white;
    z-index: 3;
    @media (max-width: 869px) {
      justify-content: center;
      align-items: center;
      padding: 1em;
    }
    h5 {
      position: relative;
      z-index: 5;
      margin: 0;
      padding: 0;
    }

    h1 {
      position: relative;
      z-index: 5;
      width: 70%;
      font-size: 3em;
      margin-bottom: 1em;
      text-align: center;
    }
    &::after {
      @media (max-width: 869px) {
        padding: 0em 1em;
      }
      margin-left: -1em;
      content: "";
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }
  }

  .project-details {
    background: #f6f6f6;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0 1.5em 6em;
    @media (max-width: 1440px) {
      padding: 1.5em 0 1.5em 1em;
    }
    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
    .detail {
      flex-basis: 20%;
      @media (max-width: 1200px) {
        flex-basis: 50%;
        text-align: center;
      }
    }

    .title {
      color: #888;
      margin-bottom: 0em;
      padding-bottom: 0em;
    }

    .text {
      margin-top: 0.3em;
      font-weight: bold;

      -webkit-font-smoothing: antialiased;
    }
  }

  .presentation {
    display: flex;
    padding: 5em 6em;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 769px) {
      padding: 2em;
    }
    .desc {
      flex-basis: 60%;
      @media (max-width: 869px) {
        opacity: 1;
        margin-left: 0;
        flex-basis: 100%;
      }
      p {
        font-size: 2.3em;

        @media (max-width: 600px) {
          font-size: 2em;
        }

        @media (max-width: 450px) {
          font-size: 1.5em;
        }
      }

      .skills {
        display: flex;
        margin-top: 4em;
        @media (max-width: 869px) {
          justify-content: space-evenly;
        }
        img {
          margin-right: 4em;
          @media (max-width: 869px) {
            margin-right: 0em;
          }
        }
      }
    }

    .services-used {
      flex-basis: 20%;
      @media (max-width: 869px) {
        flex-basis: 100%;
        text-align: center;
        margin-top: 3em;
      }
    }
  }

  .gallery {
    padding: 5em 0;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-self: center;
    img {
      width: 95%;

      @media (max-width: 869px) {
        width: 80%;
      }
    }
  }
}
