nav {
  width: 100px;
  position: fixed;
  z-index: 9;
  background-color: #151515;
  height: 100vh;
  border-right: 3px solid #303030;
  color: white;
  bottom: 0;

  @media (max-width: 869px) {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    li {
      a {
        color: white;
      }
    }
  }

  .logo {
    margin-top: 1em;
    padding: 0.8em;
    position: relative;
    img {
      margin-bottom: 0.5em;
    }
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .menu-icon {
    .line {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      position: relative;
      top: 0;
      left: 0;
      transition: left 0.5s ease-in-out;
      &:first-of-type {
        margin-bottom: 6px;
      }
    }

    &:hover {
      .line1 {
        position: relative;
        transform: translateX(-10px);
      }

      .line2 {
        position: relative;
        transform: translateX(10px);
      }
    }

    &:active,
    &:focus {
      .line1.active {
        transform: rotate(26deg);
        left: 0;
      }

      .line2.active {
        transform: rotate(-26deg);
        left: 0;
      }
    }
  }

  .social {
    width: 100%;
    border-top: 1px solid #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    a {
      display: block;
      cursor: none;
    }
    li:not(li:last-of-type) {
      margin-bottom: 2em;
    }
  }
}
.overflow-hid {
  overflow-x: hidden;
}

.nav-open {
  // background: #765cff;
}

.extended-menu {
  @media (max-width: 869px) {
    display: none;
  }
  position: fixed;
  z-index: 3;
  top: 0;
  transform: translateX(-1900px);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  font-family: primary-bold;
  background: #fff;
  transition: transform 0.8s cubic-bezier(0.75, -2, 0.3, 1.33);
  font-size: 3em;
  padding-top: 2em;
  padding-left: 5em;

  &.open {
    opacity: 1;
    transform: translateX(0);
    z-index: 4;
  }

  .extended-menu-social {
    margin-top: 2em;
    li {
      padding: 0.5em 0.5em 0.5em 1.3em;
      flex-basis: 5%;
    }
    a {
      font-size: 0.3em;
      font-family: primary-reg;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      padding: 1em;
      flex-basis: 33%;

      span {
        font-size: 0.24em;
        font-family: primary-reg;
        letter-spacing: 2px;
        color: #000;
        font-weight: bold;
      }
      a {
        font-family: primary-reg;
        font-weight: bold;
        letter-spacing: 2px;
        color: #000;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #303030;
        }
      }
    }
  }
}

.toggleMenu {
  svg {
    stroke: #fff;
    transition: 0.2s;

    g {
      &:first-child {
        opacity: 1;
        transition: opacity 0s 0.2s;

        line {
          transition: transform 0.2s 0.2s;
          transform: translateY(0px);
        }
      }

      &:last-child {
        opacity: 0;
        transition: opacity 0s 0.2s;

        line {
          transition: transform 0.2s;
          transform: rotate(0deg);
          transform-origin: center;
        }
      }
    }
  }

  &.-menu-open svg {
    stroke: #fff;

    g {
      &:first-child {
        opacity: 0;

        line {
          transition: transform 0.2s;

          &:first-child {
            transform: translateY(7px);
          }

          &:last-child {
            transform: translateY(-7px);
          }
        }
      }

      &:last-child {
        opacity: 1;

        line {
          transition: transform 0.2s 0.2s;

          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

#mobile-nav {
  @media (min-width: 870px) {
    display: none;
  }
  background-color: #000;
  padding: 1em;
  border-bottom: 3px solid #303030;
  position: fixed;
  z-index: 999;
  width: 100vw;
  ul {
    display: flex;
    justify-content: space-between;
    .logo a,
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      .title {
        margin-left: 1.5em;
        font-size: 0.8em;
      }
    }

    .social {
      a {
        margin-right: 2em;
      }
    }
  }
}
