.work-project {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  @media (max-width: 900px) {
    flex-basis: 100% !important;
  }
  cursor: none;
  .wrapper-img {
    overflow: hidden;
  }
  .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

    transition: transform 2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding: 0 0 60%;
      height: 0;
    }
  }

  .desc {
    h3 {
      color: white;
    }

    h4 {
      color: darken(#fff, 40%);
    }
  }
}
